@import '../../constants/styles.scss';

.summary {
  grid-area: main;
  margin: 0 1em;
}

.datePicker {
  display: flex;
  align-content: center;
  justify-content: space-between;
  .rangeSelector {
    display: flex;
    align-content: center;
    justify-content: space-between;
    span {
      text-align: center;
      display: inline-block;
      margin-top: auto;
      margin-bottom: auto;
      width: 10em;
    }
    button {
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
}

.header {
  @include header;
}
