@import '../../constants/styles.scss';

.fullPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header {
  @include header;
}
