@import '../../constants/styles.scss';

.home {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.right {
  flex: 1;
  display: grid;
}

.column {
  display: grid;
  grid-template:
    'header' $header-height
    'content' 1fr
    / minmax(0, 1fr);
}

.main {
  grid-area: content;
}
