.home {
  display: grid;
  grid-template-areas: 
    'header1 header2'
    'sidebar main';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.main {
  grid-area: main;
}