@import '../../constants/styles.scss';
@import '../home/home.module.scss';
@import '../../constants/styles.scss';

$boxShadowStart: rgba(0, 0, 0, 0.2);
$boxShadowEnd: rgba(0, 0, 0, 0.19);

$sidebar-width: 200px;

.container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 1;
}

.menuOption {
  all: unset;
  color: $colour-text-primary;
  padding: 10px 0px;
  border: 0px;
  background-color: $colour-darkBlue;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1rem;
  font-family: $font-primary;
  cursor: pointer;

  box-shadow: inset 1px -1px 0px 0px rgba(0, 0, 0, 0.12);

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.selectedMenuOption {
  background-color: $colour-lightBlue;

  &:hover,
  &:focus {
    background-color: $colour-lightBlue;
  }
}

%svgIcon {
  box-sizing: border-box;
  height: inherit;
  width: $header-height;
  padding: 0.15 * $header-height;
  fill: $colour-text-primary;
}

.sidebarHeader {
  background-color: $colour-darkBlue;
  display: flex;
  justify-content: flex-end;
  height: $header-height;

  & svg {
    @extend %svgIcon;
  }
}

.margin {
  background-color: lightgray;

  & svg {
    @extend %svgIcon;
    position: absolute;
  }
}

.sidebar {
  background-color: red;
  & :global(.MuiPaper-root) {
    background-color: $colour-darkBlue;
    overflow-y: unset;
  }
}
