@import '../../constants/styles.scss';

.rota {
  grid-area: main;
  display: grid;
  height: 100vh;
  grid-template:
    'header' min-content
    'calendar' 1fr;
  flex-direction: column;
  h1 {
    grid-area: header;
  }
}

.calendarContainer {
  grid-area: calendar;
}

.header {
  @include header;
}
