.employees {
  grid-area: main;
  display: grid;
  margin: 0 1em;
  grid-template:
    'header addbutton' 5em
    'table table' auto
    / auto 10em;
}

h1 {
  grid-area: header;
}

.addButton {
  grid-area: addbutton;
  margin: 2em;
}

table {
  border-collapse: collapse;
  grid-area: table;
}

tr {
  border: 1px solid black;
  height: 3em;
}

th {
  text-align: left;
  height: 3em;
}

.editbtn,
.removebtn {
  text-align: right;
  width: 1em;
}

.removeButton {
  color: red;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 1000;
  margin: 0.1em;
  font-size: 1em;
}

.removeButton:hover {
  font-size: 1.2em;
  margin: 0em;
}

.editButton {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 100;
  margin: 0.1em;
  font-size: 1em;
}

.editButton:hover {
  font-size: 1.2em;
  margin: 0em;
}
