.buttons {
  display: flex;
  justify-content: flex-end;

  Button {
    margin: 1em 0 1em 1em;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  .xButton {
    background-color: transparent;
    border: none;
    outline: none;
  }
}

.datepickers {
  display: flex;
  flex-direction: row;
}

.formLeft {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}

.field {
  padding: 5px;
}
