.Content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  background-color: white;
  hr {
    width: 100%;
  }
  hr ~ span {
    padding: 2em 0;
  }
}

.Buttons {
  display: flex;
  justify-content: flex-end;
  Button {
    margin: 1em 0 1em 1em;
  }
}

.Header {
  display: flex;
  justify-content: space-between;
  .xButton {
    background-color: transparent;
    border: none;
    outline: none;
  }
}
